spring.datasource.url= YOUR_URL e.g. jdbc:mysql://localhost:3306/account_management_system
spring.datasource.username=YOUR_URL e.g. root
spring.datasource.password=YOUR_URL e.g. root
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.generate-ddl = true
spring.jpa.hibernate.ddl-auto=update

management.server.port = 8900
